*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Alice", sans-serif;
  --primary-color: #04b90b;
  --black: #000000;
  --gray: #777e90;
  --black-2: #23262f;
  --bg-primary: #fcfcfd;
  --gray-2: #f4f5f6;
  --gray-3: #353945;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: var(--font-primary);
  background-color: var(--bg-primary);
  color: var(--black);
}
.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* HEADER */
.header {
  padding: 40px 0;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
}
.header-link:hover {
  color: var(--primary-color);
  transition: all 0.2s linear;
}
.header-link.active {
  color: var(--primary-color);
}
.header-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 23px;
}
.header-icon > a {
  color: var(--black);
}
.header-icon > a:hover {
  color: var(--primary-color);
  transition: all 0.2s linear;
}
/* HEADER END */

/* HERO */
.hero {
  padding: 60px 0;
}
.hero-main {
  display: flex;
  justify-content: space-between;

  gap: 40px;
}
.hero-content {
  max-width: 677px;
  width: 100%;
}
.hero-title {
  font-size: 68px;
  font-weight: 400;
  font-family: var(--font-secondary);
  line-height: 70px;
  letter-spacing: -0.5%;
  margin-bottom: 30px;
}
.hero-desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--gray);
  margin-bottom: 25px;
}
.hero-cta {
  margin-bottom: 105px;
}
.hero-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero-btn span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-color);
}
.button-primary {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--bg-primary);
}
.hero-info {
  max-width: 576px;
  width: 100%;
  background-color: var(--gray-2);
  border-radius: 16px;
  padding: 28px 56px 28px 56px;
}
.hero-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-item {
  text-align: center;
}
.hero-number {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: var(--gray);
}
.hero-text {
  font-size: 20px;
  line-height: 30px;
  color: var(--gray);
  font-weight: 400;
}
.hero-image {
  width: 100%;
}
.hero-image img {
  width: 100%;
}
/* HERO END*/

/* SERVICE */
.service {
  padding: 80px 0;
}
.text-center__primary {
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  font-family: var(--font-secondary);
  text-transform: capitalize;
}
.text-primary {
  color: var(--primary-color);
}
.service-list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
}
.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 36px;
  text-align: center;
  cursor: pointer;
}
.service-item:hover {
  background: #ffffff;
  box-shadow: 0px 10px 27px rgba(53, 53, 53, 0.05);
  transition: 0.2s linear;
}
.service-icon {
  margin-bottom: 24px;
}
.service-icon a {
  width: 120px;
  height: 120px;
  border-radius: 100rem;
  background: #ffffff;
  box-shadow: 5px 9px 16px rgba(0, 0, 0, 0.04);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.service-title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  color: var(--black-2);
  margin-bottom: 6px;
}
.service-desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gray-3);
}
/* SERVICE END*/

/* ABOUT */
.about {
  padding: 80px 0;
}
.about-heading {
  text-align: center;
}
.about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
  margin-top: 80px;
}
.about-center {
  max-width: 475px;
}
.about-image {
  max-width: 500px;
  width: 100%;
}
.about-image img {
  width: 100%;
}
.about-content {
  width: 100%;
}
.about-info {
  display: flex;
  align-items: center;
  gap: 94px;
  font-family: var(--font-secondary);
  margin-bottom: 12px;
}
.about-name {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: 400;
  line-height: 28px;
}
.about-view {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary-color);
}
.about-desc {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: var(--gray-3);
}
/* ABOUT END*/

/* SPECIAL */
.special {
  padding: 80px 0;
}
.special-center {
  max-width: 770px;
  margin: 0 auto;
  width: 100%;
}
/* SPECIAL END*/
